{% extends 'base.html.twig' %}

{% block title %}home!
{% endblock %}

{% block main %}

	<div>

		{% for user in users %}

			{% for posts in user.posts %}

				<div class="post-card">
					<div class="post">
						<div class="post-top">
							<div class="left">
								<img class="avatar" src="{{ asset('download/logo/' ~ user.avatar ) }}" alt="">
								<div>
									<p>
										{{user.username}}
									</p>
									<p class="date">
										{{posts.getCreatedAt|date('d-m-Y')}}
									</p>
								</div>
							</div>
							<div class="right">
								<p>
									<i class="fa-solid fa-heart"></i>
									{{posts.likes|length}}</p>
								<p>
									<i class="fa-solid fa-comment"></i>
									{{posts.comments|length}}</p>
							</div>
						</div>

						<div class="post-content">
							<p>
								{{posts.content}}
							</p>
						</div>
					</div>
					<div class="post-buttons">
						<button class="like">Like</button>
						<button class="comment">Comment</button>
					</div>
					<div class="post-comments">
						{% for comments in posts.comments %}
							<p>
								{{ comments.content }}
							</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endfor %}

	</div>
{% endblock %}
